### Nuxt/Vue build/dev outputs
.nuxt/
.output/
.nitro/
.cache/
dist/
coverage/

### Node dependencies
node_modules/

### Local data & uploads
.data/
public/uploads/

### Logs & misc
*.log
.DS_Store
.fleet
.idea
*.swp
*.tmp
*.bak

### Env files
.env
.env.*
*.local.*
!.env.example
